.fa-search {
    
}

#logo-text {
    font-family: Work Sans;
    font-weight: bold;
    font-size: 22px;
}

.left-nav-top {
    font-family: Inter;
font-style: italic;
font-weight: bold;
font-size: 22px;

}
.atmo {
    background: -webkit-linear-gradient(110.63deg, #33FF60 -29.6%, #000000 93.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}